@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Schoolbell&family=Short+Stack&display=swap');

/* *** GENERAL STYLE RULES *** */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: linear-gradient(to bottom, #ffffff, #80c7f0, #ffffff);
}


/* *** MENU PAGE STYLING *** */

.logo-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

.menu-logo {
    width: 90%;  
    max-width: 600px;
}