@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Schoolbell&family=Short+Stack&display=swap');

/* *** GENERAL STYLE RULES *** */
* {
    margin: 0;
    padding: 0;
    border: none;
}