@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Schoolbell&family=Short+Stack&display=swap');

/* *** GENERAL STYLE RULES *** */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: linear-gradient(to bottom, #ffffff, #80c7f0, #ffffff);
}

h1 {
    font-size: 300%;
    text-align: center;
    color: #42526e;
    font-family: Schoolbell, sans-serif;
}
h2 {
    color: #42526e;
    font-family: Schoolbell, sans-serif;
}


/* *** MENU PAGE STYLING *** */

.logo-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

.menu-logo {
    width: 90%;  
    max-width: 600px;
}

.container {
    display: block;
    width: 100%;
}

.menu-row {
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu-info-row {
    width: 100%;
    padding-top:  1%;
    padding-bottom: 1%;
    font-size: 90%;
    background-color: #1d5cc9;
    background-image: url("../images/swirl.webp");
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    margin-left: 0%;
    margin-top: 1%;
    margin-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.menu-info-row h2{
    color: #ffffff;
}